/* Reset CSS  */
* {
    box-sizing: border-box;
    margin: 0;
}

button,
input {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: whitesmoke;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}


ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

/* Background */

body {
    font-family: 'DM Sans', sans-serif;      
    color: whitesmoke;
    font-weight: border;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

/* Main */

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hidden {
    display: none;
}



#weather {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 18px;    
}

#clork {    
    font-size: 100px;
    margin-bottom: 10px;
}

/* To DO  */

#todo-container {
    margin-top: 30px;
}

#todo-form p {
    margin-bottom: 10px;
    font-size: 18px;
}

input {
    width: 300px;
    border: none;
    border-bottom: 3px solid whitesmoke;
    background-color: transparent;        
    text-align: center;
    color: whitesmoke;
    margin-bottom: 20px;    
}

::placeholder {
    color: whitesmoke;    
}

#todo-list button {
    background-color: transparent;
    border: none;
}


/* Quote */

#quote {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%);
    text-align: center;
}

#quote span:last-child {
    font-style: italic;
}